.cart-page{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.cart-page-list{
  width: 50vw;
  max-width: 50vw;
  min-height: 85vh;
  height: 85vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-page-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 0;
}

.cart-page-main{
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
}

.cart-page-cart{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.cart-page-cart-info{
  text-align: center;
  color: var(--text-primary);
}

.cart-order-btns{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cart-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
}

@media (max-width: 630px) {
  .cart-page-list{
    gap: 0;
    margin: 2px;
  }
}

@media (max-width: 430px) {
  .cart-page-list{
    gap: 0;
    margin: 2px;
  }
}

@media (max-width: 1250px) {
  .cart-page-main{
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column-reverse;
}

  .cart-page-list{
    width: 100vw;
    max-width: 100vw;
    min-height: 85vh;
    height: 85vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .cart-page-cart{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: start;
    justify-content: center;
  }
}
