<div class="cart-page">
  <div class="cart-page-header">
    <lib-header-component/>
  </div>
  <div class="cart-page-title">
    <lib-header-description-component title="Корзина"/>
  </div>
  <div class="cart-page-actions">
    <lib-button-component (click)="goHomepage()" width="130px" height="40px" color="#292929" text="На главную" [icon]="'assets/icons/view/home.svg'"/>
  </div>
  <div class="cart-page-main">
    <div class="cart-page-list">
      <lib-product-card-component
        *ngFor="let product of products"
        [product]="product"
        [showFavoriteBtn]="false"
        [showQuantity]="true"
        (onQuantityChange)="onQuantityChange($event)"
        (onCartChange)="onCartChange($event)"
      />
    </div>

    <div class="cart-page-cart">
      <div class="cart-page-cart-info">
        <h4>Общая сумма: {{totalAmount}}</h4>
        <h4>Общее количество: {{totalCount}}</h4>
      </div>
      <div class="cart-page-cart-form-order" *ngIf="!isOrder">
        <lib-button-component (click)="onOrder()" text="Сформировать заказ"/>
      </div>

      <div class="cart-page-cart-confirm-order" *ngIf="isOrder">
        <div class="cart-inputs">
          <lib-input-component (valueChange)="onChangeShipMethod($event)" placeholderText="Способ доставки"/>
          <lib-input-component (valueChange)="onChangePaymentMethod($event)" placeholderText="Способ оплаты"/>
        </div>
        <div class="cart-order-btns">
          <lib-button-component (click)="onSubmitCartRequest()" text="Отправить заявку" color="#48BD1E"/>
          <lib-button-component (click)="onCancelOrder()" text="Отменить заявку" color="#FF0000"/>
        </div>
      </div>
    </div>
  </div>
</div>
