<div class="category-page">
  <div class="category-page-header">
    <lib-header-component [isNavLinksComponent]="false" logoAnnotationText="Административная панель"/>
  </div>
  <div class="category-page-title">
      <lib-header-description-component title="Управление категориями"/>
  </div>
  <div class="category-page-controls">
    <div class="category-count">
      <span>Всего категорий: {{categories.length}}</span>
    </div>

    <div class="category-add-btn">
      <lib-button-component (click)="onAddCategory()" text="Добавить категорию" width="200px" height="45px"/>
    </div>

    <div class="category-search">
      <lib-input-component placeholderText="Поиск" [icon]="'assets/icons/input/search.svg'" (valueChange)="onChangeSearchQuery($event)"/>
    </div>
  </div>

  <div class="category-page-list" *ngIf="categories.length > 0">
    <lib-category-card-admin
      *ngFor="let category of filteredCategories"
      [category]="category"
      (onDeleteEvent)="onDeleteCategory($event)"
      (onEditEvent)="onEditCategory($event)"
      [categoryLocalService]="categoryLocalService"
    />
  </div>

  <div class="category-not-found" *ngIf="categories.length <= 0">
    <p>Категорий пока нет. Добавьте первую категорию для управления контентом.</p>
  </div>

<!--  <div *ngIf="filteredCategories.length <= 0 && categories.length > 0">-->
<!--    <p>Категорий с таким названием еще нет.</p>-->
<!--  </div>-->
</div>
<lib-nav-bar-component [links]="AdminNavLinks"/>
<lib-modal-base-component
  [isOpen]="modalsControls.createOrEditCategory.isModalOpen"
  [closeOnOverlayClick]="true"
  [contentBorderRadius]="'12px'"
  (closed)="closeCreateOrEditCategoryModal()"
  [isDraggable]="true"
>
  <app-categories-modal-component
    [mode]="modalsControls.createOrEditCategory.mode"
    (closed)="closeCreateOrEditCategoryModal()"
    [selectedCategoryEntry]="selectedCategoryEntry"
    [categoryLocalService]="categoryLocalService"
  />
</lib-modal-base-component>
