<div class="category-modal">
  <div class="category-modal-header">
    <lib-header-description-component [title]="mode === CategoryModalModes.CREATE ? 'Создание категории' : 'Редактирование категории'"/>
  </div>
  <div class="category-modal-main">
    <div class="category-modal-main-img-title">
      <div class="category-modal-image">
        <div class="category-modal-image-placeholder">
          <svg class="placeholder-icon">
            <use href="assets/icons/image/image-placeholder.svg"></use>
          </svg>
        </div>
        <div class="category-modal-image">

        </div>
      </div>
      <div class="category-modal-title">
        <lib-input-component placeholderText="Введите название категории..."/>
      </div>
    </div>
    <div class="category-modal-description">
      <lib-textarea-component placeholderText="Введите описание категории..."/>
    </div>
  </div>
  <div class="category-modal-controls">
    <lib-button-component *ngIf="mode === CategoryModalModes.CREATE" text="Добавить" color="#48BD1E"/>
    <lib-button-component *ngIf="mode === CategoryModalModes.EDIT" text="Подтвердить" color="#48BD1E"/>
    <lib-button-component text="Отмена" color="#FF0000"/>
  </div>
</div>
