<div class="category-modal">
  <div class="category-modal-header">
    <lib-header-description-component [title]="mode === CategoryModalModes.CREATE ? 'Создание категории' : 'Редактирование категории'"/>
  </div>
  <div class="category-modal-main">
    <div class="category-modal-main-img-title">
      <div class="category-modal-image">
        <lib-image-selector-component [showImageSelectBtn]="mode === CategoryModalModes.CREATE" (clearImagesEvent)="onClearAllImages()" [multiple]="false" [selectedImages]="selectedImages" (imagesChanged)="onImagesChanged($event)" />
      </div>
      <div class="category-modal-title">
        <lib-input-component (valueChange)="onChangeName($event)" [value]="localCategory.title" placeholderText="Введите название категории..."/>
      </div>
    </div>
    <div class="category-modal-description">
      <lib-textarea-component (valueChange)="onChangeDescription($event)" [value]="localCategory.description" placeholderText="Введите описание категории..."/>
    </div>
  </div>
  <div class="category-modal-controls">
    <lib-button-component (click)="onAddNewCategory()" *ngIf="mode === CategoryModalModes.CREATE" text="Добавить" color="#48BD1E"/>
    <lib-button-component (click)="onUpdateNewCategory()" *ngIf="mode === CategoryModalModes.EDIT" text="Подтвердить" color="#48BD1E"/>
  </div>
</div>
