.product-page{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.product-page-list{
  max-width: 100vw;
  min-height: 85vh;
  height: 85vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  gap: 20px;
  flex-wrap: wrap;
}

.product-page-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 0;
}

@media (max-width: 630px) {
  .product-page-list{
    gap: 0;
    margin: 2px;
  }
}

@media (max-width: 430px) {
  .product-page-list{
    gap: 0;
    margin: 2px;
  }
}

.not-found{
  color: var(--text-primary);
}
