.product-page{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.product-page-list{
  max-width: 100vw;
  min-height: 85vh;
  height: 85vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  gap: 20px;
  flex-wrap: wrap;
}
